fastapi
uvicorn
python-multipart
torch
torchvision
transformers
accelerate
pillow
numpy
opencv-python
einops
qwen-vl-utils
transformers>=4.45.0
accelerate>=0.26.0

# RAG Dependencies
langchain
langchain-community
langchain-huggingface
chromadb
redis
pypdf
sentence-transformers
